.app-wrapper {
  background: url('ezgif-2-908516efff.gif') center/cover no-repeat fixed;
}

.navbar .custom-button {
  background: #202433;
  color: white;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  width: 150px;
  border: 1px solid #ca3435;
  border-radius: 0px;
  margin-left: 10px;
  transition: color 0.3s; /* Smooth color change on hover */
}

.navbar .custom-button:hover {
  background: #202433;
  border: 1px solid #9f2f33;
  color: #9f2f33;
}

.first-row {
  min-height: 60px
}

.second-row {
  min-height: calc(100vh - 60px)
}
