.home-wrapper {
  font-family: 'Ubuntu', sans-serif;
}

.header-1 {
  color: white;
  padding-top: 70px;
  font-size: 50px;
}

.paragraph-1 {
  color: #b9b9b9;
  font-weight: 300;
  font-size: 20px;
  width: 640px;
}

.home-wrapper .custom-button {
  background: #202433;
  color: white;
  font-weight: 300;
  text-align: center;
  width: 200px;
  margin-right: 10px;
  border: 2px solid #ca3435;
  border-radius: 0px;
  transition: color 0.3s;
}

.home-wrapper .custom-button:hover {
  background: #202433;
  border: 2px solid #9f2f33;
  color: #9f2f33;
}

/* Logical Responsive Breakpoints */

@media (max-width: 768px) {
  .header-1 {
    font-size: 38px; /* Adjust font size for smaller screens */
  }

  .paragraph-1 {
    font-size: 15px; /* Adjust font size for smaller screens */
    width: 320px;
  }

  .home-wrapper .custom-button {
    width: 145px; /* Adjust button width for smaller screens */
    font-size: 13px;
  }
}