.home-wrapper {
  font-family: 'Ubuntu', sans-serif;
}

.header-1 {
  color: white;
  font-size: 45px;
}

.paragraph-1 {
  color: #b9b9b9;
  font-weight: 300;
  font-size: 20px;
}

.home-wrapper .custom-button {
  background: #202433;
  color: #b9b9b9;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 200px;
  margin-right: 10px;
  border: 1px solid #ca3435;
  border-radius: 0px;
  transition: color 0.3s; /* Smooth color change on hover */
}

.home-wrapper .custom-button:hover {
  background: #202433;
  border: 1px solid #9f2f33;
  color: #9f2f33;
}

