.portfolio-wrapper {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin-top: 80px;
}

.portfolio-wrapper .custom-button {
  background: #202433;
  color: white;
  font-weight: 300;
  text-align: center;
  width: 200px;
  margin-top: 20px;
  border: 2px solid #ca3435;
  border-radius: 0px;
  transition: color 0.3s; /* Smooth color change on hover */
}

.portfolio-wrapper .custom-button:hover {
  background: #202433;
  border: 2px solid #9f2f33;
  color: #9f2f33;
}

.title-1 {
  text-decoration: underline;
}

.text-1 {
  font-size: 15px;
}

.card {
  border-radius: 0px;
  background-color: #16161d;
  border: 3px solid #222233;
  margin-bottom: 50px;
}

/* Logical Responsive Breakpoints */

@media (max-width: 768px) {
  .portfolio-wrapper .custom-button {
    width: 200px; /* Adjust button width for smaller screens */
  }

  .card {
    margin-bottom: 40px; /* Adjust margin for smaller screens */
  }
}
